@page "/about"

<div class="container-fluid">
    <h3>Acerca De</h3>
    <p>Esta página fue realizada usando .Net Core y Blazor por un equipo de desarrollo para la materia de Desarrollo de Software Empresarial</p>
    <hr />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Carnet</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">CG152751</th>
                <td>René Alexander</td>
                <td>
                    Carrillo García
                </td>
            </tr>
            <tr>
                <th scope="row">HS170505</th>
                <td>Andy Hernandez</td>
                <td>Solorzano</td>
            </tr>
            <tr>
                <th scope="row">OL150100</th>
                <td>Edwin Josué</td>
                <td>Olmedo López</td>
            </tr>
            <tr>
                <th scope="row">
                    VC190544
                </th>
                <td>Francisco José</td>
                <td>Valle Cornejo</td>
            </tr>
        </tbody>
    </table>
</div>