@page "/"

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Universidad_don_bosco.jpg" class="img-fluid" />
        </div>
        <div class="col-sm-12 col-md-8">
            <h1>Sistema de Inventario UDB</h1>
            <hr />
            <p class="mt-2">
                Bienvenido al Sistema de entradas y salidas y de productos en bodegas.
            </p>
        </div>
    </div>
</div>
